@charset "utf-8";

/*
------------------------------------------------------------
Project Name : Sample Project;
------------------------------------------------------------
*/

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; box-sizing: border-box;}
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body {
  font: 16px/26px 'Syne', sans-serif;
  font-family: 'Syne', sans-serif;
    color: #2b4d66;
 }
.wrapper { min-height: 100vh; }
a { color: #000; text-decoration: none; }
a:hover { color: #999; text-decoration: none; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 {
   text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 35px;
    line-height: 1.5em;
 }
 h1 span {
    display: block;
}
h1 em {
    height: 5px;
    width: 200px;
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: -14px;
}

h2 { }
h3 { }
h4 { }
h5 { }
h6 { }
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }

.container {
    max-width: 1650px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

p {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.two-block {
    display: flex;
    flex-wrap: wrap;
}
.two-block > * { 
    width: 50%;
}
.two-block .left-side {  
    background-color: #fff;
}

.contact__form-container {
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    background: #fff;
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
}
.contact__form-field {
    margin-bottom: 4rem;
}
.contact__form-input {
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}

/* Header
--------------------------------------------------------------------------------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    z-index: 1;
}
.header::before { 
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(4px) brightness(110%);
  z-index: -1;  
}
.header .container{ display: flex;
align-items: center;
justify-content: space-between;
height: 60px;
}
.header ul{
    display: flex;
    align-items: center; 
}
.header ul li {
    padding: 0 15px;
}
.header .brand {
    font-weight: 700;
}
.logo { display: inline-block; }
.logo > img { display: block; }

.hero-section {
    height: 100vh;
    background-position: right 60px bottom;
    background-repeat: no-repeat;
    background-size: 40%;
    padding: 54px 0px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-section h2 {
    color: #424242;
    font-size: 128px;
    line-height: 132px;
font-style: normal;
font-weight: 600;
text-shadow: 2px -1px 9px rgba(255,255,255,0.8);
}
.hero-section h2:first-child { 
    margin-left: 140px;
}
.hero-section h2:last-child { 
    margin-left: 180px;
}

.bg-dark {
    background-color: #1A1A1A;
}
.about-section, .skill-section {
    padding: 90px 0;
}

section h6 {
    color: #424242;
    font-size: 66px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    text-transform: capitalize
}
.bg-dark h6 {
    color: #fff;
}

.about-section p {
    color: rgba(255, 255, 255, 0.48);
font-family: Syne;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.progress-wrap {
    width: 100%;
    height: 6px;
    background-color: #ccc;
    position: relative;
}

.progress-wrap .progress-bar { 
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60%;
    background-color: #1A1A1A;
}

.skill-section ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}
.skill-section ul li {
    width: 50%;
    padding: 0 30px 30px;
}
.skill-section ul h6 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
}



footer {
    background-color: #1A1A1A;
    padding: 90px 0;
    font-size: 36px;
    line-height: 1;
    color: #fff;
}
footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    color: #2b4d66;
}
footer .brand{
    font-size: 66px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}
footer .brand span {
    font-size: 36px;
}
.social-wrap {
    display: flex;
    align-items: center;
}
.social-wrap li {
    padding: 8px;
}
/* footer .brand span {
    font-size: 36px;
} */


/* MainNavigation
--------------------------------------------------------------------------------------------------------*/
.wrapper {
    min-height: 100vh;
}
.main-navigation { }

/* Main Content
--------------------------------------------------------------------------------------------------------*/

/* Header */

/* Footer
--------------------------------------------------------------------------------------------------------*/
.footer { background: #333; padding: 15px; text-align: center;}
.copyright { padding: 0; color: #fff; font-size: 0.8em; line-height: 1.2em; }

/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (min-height:1023.98px) { 
    .hero-section {
            min-height: 850px;
            height: auto;
    }
}
@media (max-width:1199px) { }
@media (max-width:991px) { }
@media (max-width:767px) { }
@media (max-width:575px) { }
