@charset "utf-8"; 
/*
------------------------------------------------------------
Project Name : nr-theme-1;
 ------------------------------------------------------------
*/
/* Reset 
--------------------------------------------------------------------------------------------------------*/
/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { display: block; }
body { line-height: 1; }
ol,
ul { list-style: none; }
blockquote,
q { quotes: none; }
blockquote:before,
blockquote:after,
q:before,
q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
.window-resizing *,
body:not(.page-loaded) * { transition: none !important; }
a { transition: all 0.3s; }
html,
body { min-width: 320px; min-height: 100vh; --primary-clr: #2A9AA1; --primary-hover-clr: #165257; --border-500: #DEDCDC; --secondary-clr:#ADACAC; }
body { font-size: 16px; line-height: 22px; color: #363636; font-family: 'Roboto', sans-serif; -ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased; background-color: #FAFAFA; }
.wrapper { min-height: 100vh; }
a { color: var(--primary-clr); text-decoration: none; }
a:hover { color: var(--primary-hover-clr); text-decoration: none; }
h1,
h2,
h3,
h4,
h5,
h6 { line-height: 1.2em; padding: 0 0 20px; }
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span { display: block; }
h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { font-size: 16px; font-weight: 600; line-height: 22px; }
p { padding: 0 0 20px; }
input[type=text],
input[type=email],
input[type=password],
textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #959595; }
::-moz-placeholder { color: #959595; }
:-ms-input-placeholder { color: #959595; }
:-moz-placeholder { color: #959595; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }
img { max-width: 100%; }
.fw-medium { font-weight: 500!important; }


/* scrollbar
--------------------------------------------------------------------------------------------------------*/
&::-webkit-scrollbar { width: 4px; border-radius: 4px; }
&::-webkit-scrollbar-track { background: #f8f9fa; }
&::-webkit-scrollbar-thumb { background: #b4b2b2; opacity: 0.4; }
&::-webkit-scrollbar-thumb:hover { background: #b4b2b2; opacity: 0.4; }

/* header profile 
--------------------------------------------------------------------------------------------------------*/
.profile-block { display: flex; align-items: center; margin-left: 11px; cursor: pointer; }
.profile-block em { width: 50px; height: 50px; min-width: 50px; border-radius: 50%; }
.profile-block .profile-info { padding: 0 40px 0 10px; }
.profile-block .profile-info h6 { padding-bottom: 0px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; max-width: 100px; }
.profile-block .profile-info > span { font-size: 13px; line-height: 18px; font-weight: 300; }

/* btn 
--------------------------------------------------------------------------------------------------------*/
.btns-block { display: flex; flex-wrap: wrap; align-items: center; gap: 25px; }
.btn { display: flex; align-items: center; justify-content: center; min-height: 48px; text-transform: uppercase; font-size: 16px; line-height: 20px; font-weight: 500; box-shadow:none !important; outline:none !important; position: relative; border-radius: 2px; overflow: hidden; }
.btn span.ripple { animation: ripple 600ms linear; background-color: rgba(255, 255, 255, 0.7); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0); width: 0; height: 0; border-radius: 50%; }
.btn.mw { min-width:158px; padding: 0px 20px; }
.btn.btn-ic { width: 40px; min-width: 40px; height: 40px; min-height: auto; border-radius: 50%; display: flex; align-items: center; justify-content: center; padding: 0; background-color: transparent; }
.btn-ic.sm { width: 23px; min-width: 23px; height: 23px; }
.btn-ic.b-rounded { border: 1px solid var(--primary-clr); }
.btn.btn-ic:hover,
.btn.btn-ic:focus { background-color: #f2f2f2; }
.btn-primary { color: #fff; background-color: var(--primary-clr); border-color: var(--primary-clr); border: none; }
.btn-primary:hover,
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle,
.btn-check:focus+.btn-primary, .btn-primary:focus { background-color: var(--primary-hover-clr); border-color: var(--primary-hover-clr); }
.btn-secondary { color: #fff; background-color: var(--secondary-clr); border-color: var(--secondary-clr);  border: none;  }
.btn-outline-primary { color: var(--primary-clr); border-color: var(--primary-clr); }
.btn-outline-primary:hover,
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active { color: #fff; background-color: var(--primary-clr); border-color: var(--primary-clr); }
.chip { display: inline-block; min-width: 74px; height: 22px; padding: 2px 10px; border-radius: 12px; background-color: #5F86EA; text-align: center; font-size: 12px; font-weight: 500; line-height: 18px; color: #fff; }
.chip.low { background-color: #EDC63C; }
.chip.mid { background-color: #57B86D; }
.mb { margin-bottom: 30px; }
.el { margin-bottom: 28px; }
.el h5 { font-size: 18px; font-weight: 700; line-height: 24px; color: #363636; border-bottom: 1px solid #ECECEC; padding-bottom: 4px; margin-bottom: 14px; }
.el > label { color: #666666; font-weight: 500; padding-bottom: 16px; letter-spacing: 0.6px; }
@keyframes ripple {
    to {  transform: translate(-50%, -50%) scale(4); opacity: 0; }
}

/* dropdown 
--------------------------------------------------------------------------------------------------------*/
.dropdown-toggle::after { background-image: url(../images/ic-down.svg); background-position: center; background-repeat: no-repeat; background-size: cover; border: none; width: 12px; height: 8px; position: absolute; top: 11px; right: 13px; }
.dropdown-menu { box-shadow: 0px 0px 12px 0px #00000014; border: none; padding: 0; overflow: hidden; }
.dropdown-menu .dropdown-item { color: #666; min-height: 40px; display: flex; align-items: center; }
.dropdown-menu li:not(:last-child) .dropdown-item { border-bottom: 1px solid var(--border-500); }
.dropdown-item.active, .dropdown-item:active { color: #fff; background-color: var(--primary-clr); }

/* tabs 
--------------------------------------------------------------------------------------------------------*/
.nav-tabs { border: none; margin-bottom: 14px; }
.nav-tabs .nav-link { color: #666666; border: none; border-bottom: 2px solid  transparent; padding: 8px 0; }
.nav-tabs .nav-item:not(:last-child) { margin-right: 30px; }
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { color: var(--primary-clr); border-color: var(--primary-clr); }

/* alert 
--------------------------------------------------------------------------------------------------------*/
.alert { display: flex; align-items: center; min-height: 56px; gap: 8px; padding: 13px 20px; }
.alert .i { width: 24px; min-width: 24px; height: 24px; display: flex; align-items: center; justify-content: center; }
.alert-success { color: #21C978; background-color: transparent; border-color: #ABEBCC; }
.alert-danger { color: #F26464; background-color: transparent; border-color: #F6D3D3; }
.alert-warning { color: #EA8C00; background-color: transparent; border-color: #F5DFA6; }
.alert-info { color: #0ACFCF; background-color: transparent; border-color: #B7EFEF; }

/* table 
--------------------------------------------------------------------------------------------------------*/
.table { font-size: 14px; line-height: 18px; white-space: nowrap; }
table .form-check p { padding: 0 0 0 10px; }
.table thead tr { background-color: #F0F0F0; border-width: 1px 0px 1px 0px; border-style: solid; border-color: var(--border-500); }
.table thead th { color: #363636; font-size: 16px; line-height: 20px; height: 40px; }
.table td { color: #8C8C8C; vertical-align: middle; height: 44px; }

/* text field
--------------------------------------------------------------------------------------------------------*/
.form-group { margin-bottom: 20px; }
.form-control { font-size: 16px; line-height: 20px; padding: 11px 15px; box-shadow: none !important; outline: none !important;min-height: 48px; border-color: var(--border-500); }
.form-control:focus { color: #363636; background-color: #fff; border-color: var(--primary-clr); }
.form-control:disabled, .form-control[readonly] { background-color: #F2F2F2; }
.form-control::placeholder { color: #959595; letter-spacing: 0.5px; }
textarea.form-control { min-height: 84px; }

/* checkbox 
--------------------------------------------------------------------------------------------------------*/
.form-check { margin: 0; padding: 0; display: flex; align-items: center; }
.form-check .form-check-input { float: none; width: 20px; height: 20px; border-color: var(--border-500); box-shadow: none !important; outline: none !important; cursor: pointer; top: 0; margin: 0; }
.form-check .form-check-label { padding-left: 6px; cursor: pointer; color: #959595; }
.form-check .form-check-input:checked { background-color: var(--primary-clr); border-color: var(--primary-clr); }
.form-check .form-check-input:focus { border-color: var(--primary-clr); }
.form-check.complated .form-check-label { text-decoration: line-through; }
.form-check-input[type=radio] { background-image: none !important; position: relative; }
.form-check-input[type=radio]::before { content: ''; position: absolute; top: calc(50% - 5px); left: calc(50% - 5px); width: 10px; height: 10px; border-radius: 50%; background-color: var(--primary-clr); transform: scale(0); transition: all 0.3s; }
.form-check-input:checked[type=radio] { border-color: var(--primary-clr); background-color: #fff; }
.form-check-input:checked[type=radio]::before { transform: scale(1); }

/* status 
--------------------------------------------------------------------------------------------------------*/
.status { display: inline-block; min-height: 20px; padding: 2px 10px; border-radius: 6px; background-color: #DAFEED; color: #21C978; white-space: nowrap; font-size: 10px; font-weight: 400; line-height: 16px; }
.status.warn { background-color: #FFF9EF; color: #EA8C00; }
.status.red { background-color: #FFF1F5; color: #EB3760; }

/* card 
--------------------------------------------------------------------------------------------------------*/
.card { box-shadow: 0px 0px 12px 0px #00000014; border-radius: 6px; background-color: #fff; border: none; height: 100%; }
.card .card-title { display: flex; align-items: center; justify-content: space-between; gap: 8px; flex-wrap: wrap; font-size: 16px; font-weight: 600; line-height: 22px; text-align: left; padding: 15px 24px 0; margin-bottom: 0; min-height: 47px; }
.card .card-body { padding: 10px 24px 24px; }
.count-card { box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12); background-color: #fff; border-radius: 6px; padding: 20px; display: flex; align-items: center; gap: 20px; overflow: hidden; z-index: 1; position: relative; height: 100%; }
.count-card>em { width: 66px; min-width: 66px; height: 66px; border-radius: 4px; display: flex; align-items: center; justify-content: center; position: relative; }
.count-card>em::before { content: ''; position: absolute; background-color: #D3F6F6; width: 66px; min-width: 66px; height: 66px; border-radius: 4px; z-index: -1; transition: all 0.3s; }
.count-card strong { font-size: 36px; line-height: 40px; font-weight: 600; display: block; margin-bottom: 4px; }
.count-card span { color: #666; }
.count-card.red>em::before { background-color: #FFF1F5; }
.count-card.success>em::before { background-color: #DAFEED; }
.count-card.warn>em::before { background-color: #FFF9EF; }
.count-card:hover>em::before { transform: scale(1.2); }
.hamburger { display: inline-block; cursor: pointer; }
.hamburger .line { width: 24px; height: 2px; background-color: #363636; display: block; margin: 0 0 4px; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.hamburger .line:nth-child(3) { margin: 0; }
.show-menu .hamburger .line:nth-child(2) { opacity: 0; }
.show-menu .hamburger .line:nth-child(1) { -webkit-transform: translateY(6px) rotate(45deg); -ms-transform: translateY(6px) rotate(45deg); -o-transform: translateY(6px) rotate(45deg); transform: translateY(6px) rotate(45deg); }
.show-menu .hamburger .line:nth-child(3) { -webkit-transform: translateY(-6px) rotate(-45deg); -ms-transform: translateY(-6px) rotate(-45deg); -o-transform: translateY(-6px) rotate(-45deg); transform: translateY(-6px) rotate(-45deg); }

/* chart 
--------------------------------------------------------------------------------------------------------*/
.chart-wrapper { position: relative; width: 100%; padding-bottom: 50%; }
.chart-wrapper canvas { position: absolute; top: 0; left: 0; right: 0; left: 0; }
.doughnut-chart-count { font-size: 28px; font-weight: 600; line-height: 32px; text-align: center; margin: 20px 0; }
.doughnut-chart-count span { font-size: 20px; font-weight: 600; line-height: 32px; }
.legends { display: flex; align-items: center; flex-wrap: wrap; gap: 8px; justify-content: center; }
.legends li { padding-left: 20px; position: relative; font-size: 12px; font-weight: 400; line-height: 16px; color: #8C8C8C; }
.legends li::before { position: absolute; content: ''; width: 10px; height: 10px; background-color: #0ACFCF; left: 0; top: 2px; }
.legends li.pn::before { background-color: #EDCB75; }
.legends li.in::before { background-color: #6C93F9; }
.legends li.com::before { background-color: #21C978; }
.legends li.can::before { background-color: #E04A4A; }
.legends li.np::before { background-color: #D3F6F6; }
.legends li.ap::before { background-color: #0ACFCF; }

/* select2 
--------------------------------------------------------------------------------------------------------*/
.w-100 + .select2-container { width: 100% !important; }
.select2-container--default .select2-selection--single { min-height: 48px; border-color: var(--border-500); border-radius: 4px !important; }
.select2-container--default.select2-container--focus .select2-selection--single { border-color: var(--primary-clr); }
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 48px; padding: 0 34px 0 15px; }
.sm-select ~ .select2-container--default { width: auto !important; min-width: 90px; }
.sm-select ~ .select2-container--default .select2-selection--single { background-color: #F8F8F8; border: none; border-radius: 4px; font-size: 14px; font-weight: 400; min-height: 32px; }
.sm-select ~ .select2-container--default .select2-selection--single .select2-selection__rendered { color: #666666; line-height: 32px; }
.select2-container--default .select2-selection--single .select2-selection__arrow { display: flex; align-items: center; justify-content: center; right: 8px; top: 0; height:100%; }
.select2-container--default .select2-selection--single .select2-selection__arrow b { border: none; background-image: url(../images/ic-down.svg); background-position: center; background-repeat: no-repeat; background-size: cover; border: none; width: 12px; height: 8px; transform: rotateX(0); transition: all 0.3s; }
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { transform: rotateX(160deg) }
.select2-dropdown { border: none; box-shadow: 0px 0px 8px 0px #00000040; border-radius: 6px !important; overflow: hidden; }
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable { background-color: var(--primary-clr); color: white; }
.select2-dropdown.sm-select { font-size: 14px; line-height: 18px; min-width: 100px; width: auto !important; }

/* Header
--------------------------------------------------------------------------------------------------------*/
.header { box-shadow: 0px 0px 8px 0px #00000040; background-color: #fff; position: sticky; top: 0; display: flex; align-items: center; min-height: 80px; z-index: 5; padding: 0 42px; }
.header .header-left { display: none; align-items: center; gap: 8px; }
.header .header-right { margin-left: auto; display: flex; align-items: center; gap: 8px; }
.logo { display: inline-block; }
.logo>img { display: block; }

/* MainNavigation
--------------------------------------------------------------------------------------------------------*/
.main-navigation { position: fixed; left: 0; top: 0; bottom: 0; width: 284px; background-color: var(--primary-clr); box-shadow: 0px 6px 12px 2px #00000024; overflow: auto; transition: all 0.3s; z-index: 5; }
.main-navigation .logo { position: sticky; display: block; top: 0; padding: 26px 30px 36px; background-color: var(--primary-clr); }
.main-navigation ul { padding: 15px; }
.main-navigation ul li { margin-bottom: 10px; }
.main-navigation ul a { color: #fff; min-height: 46px; border-radius: 4px; display: flex; align-items: center; gap: 12px; padding: 0 15px; letter-spacing: 0.8px; }
.main-navigation ul a>em { width: 22px; min-width: 22px; height: 22px; }
.main-navigation ul a .item-name { display: block; flex: 1; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.main-navigation ul a:hover,
.main-navigation ul a:focus,
.main-navigation ul a.active { background-color: rgba(0, 0, 0, 0.14); }
.upload-wrapper { position: relative; display: flex; white-space: nowrap; max-width: 617px; }
.upload-wrapper > *:first-child { border-radius: 0; border-top-left-radius: 35px; border-bottom-left-radius: 35px; }
.upload-wrapper > *:last-child { border-radius: 0; border-top-right-radius: 35px; border-bottom-right-radius: 35px; }
.upload-wrapper > .btn { min-width: 154px; height: 48px; display: flex; align-items: center; justify-content: center; text-transform: capitalize; gap: 8px; }
.upload-wrapper .upload-file { position: absolute; top: 0; left: 0; bottom: 0; right: 0; opacity: 0; }

/* Main Content
--------------------------------------------------------------------------------------------------------*/
.wrapper { display: flex; flex-direction: column; padding-left: 284px; }
.main-content { flex-grow: 1; padding: 30px; }
.title { font-size: 30px; line-height: 34px; font-weight: 500; margin-bottom: 30px; }
.row.g-30px { --bs-gutter-x: 30px; --bs-gutter-y: 30px; margin-bottom: 30px; }
.row.g-20px { --bs-gutter-x: 20px; --bs-gutter-y: 20px; margin-bottom: 20px; }

/* login 
--------------------------------------------------------------------------------------------------------*/
.login-wrapper { background-image: url(../images/login-img.png); background-size: 100%; background-position: top; min-height: 100vh; background-repeat: no-repeat; }
.login-wrapper .form-group { margin-bottom: 30px; }
.login-wrapper .logo { margin: auto; text-align: center; display: flex; justify-content: center; padding: 75px 1px 70px; }
.login-wrapper .login-box { box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.25); max-width: 606px; width: 100%; border-radius: 14px; padding: 60px 106px; background-color: #fff; margin: auto; padding: 67px 106px; }
.login-wrapper .login-box h3 { color: var(--primary-clr); font-size: 32px; line-height: 38px; font-weight: 600; padding-bottom: 11px; letter-spacing: 1px; }
.login-wrapper .login-box  p.sub { color: #666666; font-size: 24px; line-height: 28px; letter-spacing: 1px; padding-bottom: 54px; }
.login-wrapper .fp { display: flex; align-items: center; flex-wrap: wrap; gap: 8px; justify-content: space-between; color: #959595; margin: -3px 0 28px; letter-spacing: 0.2px; }
.login-wrapper .fp a { font-size: 14px; }
.login-wrapper p.sign-block { font-size: 15px; line-height: 19px; color: #959595; margin-top: 27px; padding: 0; }
.dropover { position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; visibility: hidden; background-color: rgba(0, 0, 0, 0.5); transition: all 0.3s; z-index: 4; }


/* Footer
--------------------------------------------------------------------------------------------------------*/
.footer { font-weight: 500; padding: 0px 30px 30px; text-align: center; color: #8C8C8C; text-align: right; }


/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (min-width:1200px) {
    .show-menu .hamburger .line:nth-child(2) { opacity: 1; }
    .show-menu .hamburger .line:nth-child(1) { width: 12px; -webkit-transform: translate(13px,1px) rotate(45deg); -ms-transform: translate(13px,1px) rotate(45deg); -o-transform: translate(13px,1px) rotate(45deg); transform: translate(13px,1px) rotate(45deg); }
    .show-menu .hamburger .line:nth-child(3) { width: 12px; -webkit-transform: translate(13px,-2px) rotate(-45deg); -ms-transform: translate(13px,-2px) rotate(-45deg); -o-transform: translate(13px,-2px) rotate(-45deg); transform: translate(13px,-2px) rotate(-45deg); }
}
@media (max-width:1559.98px) {
    .login-wrapper { background-size: auto; }
}
@media (max-width:1199px) {
    .header { padding: 0 20px; }
    .header .header-left { display: flex; }
    .wrapper { padding: 0; }
    .main-navigation { top: 80px; left: -290px; }
    .main-navigation .logo { display: none; }
    .show-menu  .main-navigation { left: 0; }
    .show-menu .dropover { opacity: 1; visibility: visible; }
 }
@media (max-width:991px) {
 .row.g-30px { --bs-gutter-x: 20px; --bs-gutter-y: 20px; margin-bottom: 20px; }
}
@media (max-width:767px) {
    .login-wrapper .login-box h3 { font-size: 30px; line-height: 34px; }
    .login-wrapper .login-box p.sub { font-size: 20px; line-height: 24px; padding-bottom: 41px; }
    .login-wrapper .form-group { margin-bottom: 20px; }
    .login-wrapper .login-box { padding: 40px; max-width: calc(100% - 80px); margin: 0 40px; }
    .header { min-height: 70px; }
    .main-navigation { top: 70px; }
    .main-content { padding: 20px; }
    .profile-block { margin: 0; }
    .profile-block .profile-info { display: none; }
    .profile-block.dropdown-toggle::after { display: none; }
    .title { font-size: 26px; line-height: 30px; margin-bottom: 20px; }
    .count-card { padding: 15px; gap: 14px; }
    .count-card strong { font-size: 30px; line-height: 34px; margin-bottom: 0; }
    .card .card-title { padding: 15px 15px 0; }
    .card .card-body { padding: 10px 15px 15px; }
    .btn.mw { min-width: auto; padding: 0 15px; }
    .btns-block { gap: 16px; }
    .upload-wrapper > .btn { min-width: auto; padding: 0 34px; }
    .footer { text-align: center; padding: 0 15px 15px; }
}
@media (max-width:575px) {
    .login-wrapper .login-box { padding: 40px 20px; max-width: calc(100% - 40px); margin: 0 20px; }
    .header .header-left .logo { width: 120px; }
    .profile-block em { width: 40px; height: 40px; min-width: 40px; }
    .header { padding: 0 15px; min-height: 60px; }
    .main-navigation { top: 60px; width: 264px; }
    .main-navigation ul a { min-height: 40px; font-size: 14px; }
    .header .btn.btn-ic { width: 30px; min-width: 30px; height: 30px; padding: 3px; }
}
